.alert{  position: fixed;  z-index: 9999;  top: 0;  background:#00cc33;  color: #fff;  padding: 5px;  text-align: center;  width: 400px;  border-radius: 0 0 5px 5px;  }
.alert_error{  background: #ff0000;  }
.alert_success{  background: #00cc33;  }